*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 12px;
    background-color: #e0e3da;
    perspective: 800px;
}

.device {
    width: 400px;
    height: 600px;
    position: relative;
    will-change: transform;
    transform-origin: center center;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}

.device::before,
.device::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    border-top: 10px solid red;
}

.device::before {
    background-color: #566270;
}

.device::after {
    background-color: #a593e0;
    transform: rotateY(180deg);
}
